body{
   background: black;
  

}


p {
    color: grey;
    font-size: 1rem;
    font-family: "Axiforma",sans-serif;
   
}


h1  {
    color: white;
    font-size: 3rem;
    font-family: "Axiforma",sans-serif;}

h2{
    position: relative;
    color: #f2f2f2;
    font-size: 3rem;
    font-family: "Axiforma",sans-serif;
    overflow: visible;
  

}

.inputs h5{
color: white;
font-family: "Axiforma",sans-serif;
font-weight: lighter;
opacity: 0.8;
font-size: 1rem;
}


h3{
    position: relative;
color: grey;
font-size: 2rem;
font-family: "Axiforma",sans-serif;



}

h4{
    position: relative;
color: grey;
font-size: 1.4rem;
font-family: "Axiforma",sans-serif;



}


h5{
    position: relative;

color: lightgrey;
font-size: 1rem;
font-family: "Axiforma",sans-serif;


}


.skillslist p{

    
color: lightgrey;
font-size: 1.2rem;
font-family: "Axiforma",sans-serif;


}




h6{
    position: relative;

color: grey;
font-size: 0.8rem;
font-family: "Axiforma",sans-serif;


}


.container{
    position: relative;
}

.navbar{
    padding-left: 1000px;
 
}

.headname{
    padding-left: 250px;
    padding-top: 40px;


}

.profile{
   
    padding-top:20px;

}

img{
    border-radius: 50%;
    align-self: center;
    justify-content: center;
    width: 200px;
}


.topnav {
padding-top: 30px;
  overflow: hidden;
  font-family: "Axiforma",sans-serif;


}


.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 22px;
  text-decoration: none;
  font-size: 17px;
  transition-duration: 1s;

}

.topnav a:hover {
  
  color: teal;
}


.topnav a.active {

  color: grey;
}





* {box-sizing:border-box}

.container1 {
  width: 100%; 
  background-color: #ddd; 
  font-family: "Axiforma",sans-serif;
  font-weight: bold;
}

.skills {
  position: relative;
  text-align: right;
  padding: 10px;

  color: black; 
}

.html {width: 90%; background-color: #4CAF50;} 
.css {width: 80%; background-color: skyblue;} 
.js {width: 40%; background-color: yellow;} 
.xd {width: 90%; background-color: #2196F3;} 
.photoshop {width: 85%; background-color: red;}
.illustrator {width: 75%; background-color: #808080;}
.aftereffects {width: 30%; background-color:  #f13328;}
.cplus {width: 90%; background-color: hotpink;}
.c {width: 90%; background-color: lime;}
.python {width: 75%; background-color: purple;}
.mysql {width: 70%; background-color: lightgreen;}
.git {width: 50%; background-color: green;}
.linux {width: 60%; background-color: darkblue;}
.phpmyadmin {width: 70%; background-color: violet;}
.php {width: 70%; background-color: aqua;}



.myskills{

padding-left: 250px;

}

.skillslists{
  padding-left: 100px;
  padding-bottom: 50px;
}


.hovermenu{
  position: relative;
}

.hover {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 100px;
  background-color: #3f4c7b;
  border-radius: 99px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
}
.hover:before, .hover:after {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  width: 50%;
  height: 100%;
  transition: 0.25s linear;
  z-index: 1;
}
.hover:before {
  content: '';
  left: 0;
  justify-content: flex-end;
  background-color:#3f4c7b;
}
.hover:after {
  content: '';
  right: 0;
  justify-content: flex-start;
  background-color: #3f4c7b;
}
.hover:hover {
  background-color: #46627f;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.hover:hover span {
  opacity: 0;
  z-index: -3;
}
.hover:hover:before {
  opacity: 0.5;
  transform: translateY(-100%);
}
.hover:hover:after {
  opacity: 0.5;
  transform: translateY(100%);
}
.hover span {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: lightgrey;
  font-family: "Axiforma",sans-serif;
  font-size: 24px;
  font-weight: 400;
  opacity: 1;
  transition: opacity 0.25s;
  z-index: 2;
}
.hover .social-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 100%;
  color: whitesmoke;
  font-size: 24px;
  text-decoration: none;
  transition: 0.25s;
}
.hover .social-link i {
  text-shadow: 1px 1px rgba(70, 98, 127, 0.7);
  transform: scale(1);
}
.hover .social-link:hover {
  background-color: rgba(245, 245, 245, 0.1);
}
.hover .social-link:hover i {
  animation: bounce 0.4s linear;

}

@keyframes bounce {
  40% {
    transform: scale(1.4);
  }
  60% {
    transform: scale(0.8);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}



